* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --ff-primary: 'Roboto', sans-serif;
    --bg-color: #000;
}

body {
    font-size: 1.6rem;

    background: var(--bg-color);
    color: #fff;

}

body * {
    font-family: var(--ff-primary);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

#app {
    max-width: 112rem;
    margin: 0 auto;
    padding: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
}

.search {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.search button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    padding: 1.2rem 3.2rem;
    border-radius: .5rem;
    border: none;
    background-color: #065E7C;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2.4rem;
    font-size: 1.4rem;

    cursor: pointer;
}

.search input {
    width: 43rem;
    padding: 1.6rem;
    border-radius: .5rem;
    border: none;
    background-color: #06181C;
    outline: none;
    color: #fff;
}

.search input::placeholder {
    color: #7C7C8A;
}

table {
    margin-top: 8.7rem;
    text-align: left;
    border-collapse: collapse;
}

table thead th {
    background-color: #092D38;
    padding: 1.6rem 2.4rem 1.6rem 4.0rem;
    height: 6.4rem;
}

table tr:nth-child(odd) {
    background-color: rgba(6, 22, 27, 0.50);
}

table tr:nth-child(even) {
    background-color: #06181C;
}

table tbody td {
    padding: 2.4rem 2.4rem 2.4rem 4rem;
    color: #E1E1E6;
    font-size: 2rem;
    font-weight: 700;
    line-height: 160%;
}

table tbody td a {
    text-decoration: none;
    color: #E1E1E6;
}

table tbody td span {
    font-weight: 400;
    color: #E1E1E6;
}

table tbody td.user img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

table tbody td button {
    background-color: transparent;
    border: none;
    color: #F75A68;
    font-size: 2rem;
    font-weight: 700;
    line-height: 160%;

    cursor: pointer;
}